# Environnements virtuels
env/
venv/
.venv/
ENV/

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Variables d'environnement
.env
.env.*

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Données
*.csv
*.xlsx
